* {
  box-sizing: border-box;
}

body {
  font-family: "Lato";
  color: white;
}

/* fer els strips, colocar al 20%, colorejarlos */
.strips {
  overflow: hidden;
  text-align: center;
  min-height: 100vh;
  color: white;
}

.oneStrip {
  position: absolute;
  width: 20%;
  min-height: 100vh;
  cursor: pointer;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
  will-change: width, left, z-index, height; /* optimització pels browsers... ?¿?¿ */
}

/* Centrar text */
.contentStrip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  /* rotar el layer semitransparent */
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.strips .contentStrip:hover:before {
  -webkit-transform: skew(0deg) scale(3) translate(0, 0);
  transform: skew(0deg) scale(3) translate(0, 0);
  opacity: 0.1;
}

/* Afegir el layer semitransparent */
.strips .contentStrip:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.1;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
  transform: skew(30deg) scaleY(1) translate(0, 0);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
}

.lletres {
  display: block;
  position: relative;
  width: 100%;
  font-size: 3vw;
  z-index: 2;
}

/* Mobile mediaQuery*/
@media screen and (max-width: 760px) {
  .oneStrip--expanded {
    min-height: 100vh;
  }
}

/* Posició i color de les strips */

/* Animacions d'entrada -------------------------------------------------------- */

.oneStrip:nth-child(1) .contentStrip {
  left: 0;
  background-color: #244f75;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  animation-name: strip1;
  -webkit-animation-name: strip1;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

.oneStrip:nth-child(2) .contentStrip {
  left: 20vw;
  background-color: #60bfbf;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  animation-name: strip2;
  -webkit-animation-name: strip2;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

.oneStrip:nth-child(3) .contentStrip {
  left: 40vw;
  background-color: #8c4b7e;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  animation-name: strip3;
  -webkit-animation-name: strip3;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

.oneStrip:nth-child(4) .contentStrip {
  left: 60vw;
  background-color: #f8bb44;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  animation-name: strip4;
  -webkit-animation-name: strip4;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

.oneStrip:nth-child(5) .contentStrip {
  left: 80vw;
  background-color: #f24b4b;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  animation-name: strip5;
  -webkit-animation-name: strip5;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

/* KEYFRAMES per les animacions d'entrada */

@-webkit-keyframes strip1 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes strip1 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes strip2 {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes strip2 {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes strip3 {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip3 {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes strip4 {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes strip4 {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes strip5 {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes strip5 {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
